<html>
<body style="padding-top: 40px; background-color: #fff; font-family: 'Arial';">
	<div style="width: 90%; margin: auto; font-family: 'Arial'; font-size: 12px;">
		Dear valued supplier,<br /> Kindly be informed that the invoice below has been <b th:text="${invoice.status.value == 'Approved L2'?'Fully Approved':invoice.status.value}" th:style="${'color:'+invoice.status.color.name}"></b><br />Please if more details needed, Check Iadmin Portal http://iadmin.3gcom.ma<br />
		<br />
		<br />
	</div>
	<table style='border: 1px solid #ddd; border-spacing: 0; border-collapse: collapse; width: 90%; margin: auto; font-size: 12px;'>
		<tr>
			<td width='12%' style='background-color: #edf3f4; color: #336199; border: 1px solid #ddd; padding: 6px; text-align: right;'>Numero</td>
			<td width='36%' style='border: 1px solid #ddd; border-bottom: 1px dotted #d5e4f1; border-top: 1px dotted #d5e4f1; padding: 6px; color: #a069c3;'  th:text="${invoice.numero}"></td>
			<td width='4%' style='border-top: 1px solid #fff; border-bottom: 1px solid #fff;'></td>
			<td width='12%' style='background-color: #edf3f4; color: #336199; border: 1px solid #ddd; padding: 6px; text-align: right;'>Status</td>
			<td width='36%' style='border: 1px solid #ddd; border-bottom: 1px dotted #d5e4f1; border-top: 1px dotted #d5e4f1; padding: 6px;'  th:text="${invoice.status.value}"></td>
		</tr>
		<tr>
			<td width='12%' style='background-color: #edf3f4; color: #336199; border: 1px solid #ddd; padding: 6px; text-align: right;'>Supplier</td>
			<td width='36%' style='border: 1px solid #ddd; border-bottom: 1px dotted #d5e4f1; border-top: 1px dotted #d5e4f1; padding: 6px; color: #69aa46' th:text="${invoice.supplierName}"></td>
			<td width='4%' style='border-top: 1px solid #fff; border-bottom: 1px solid #fff;'></td>
			<td width='12%' style='background-color: #edf3f4; color: #336199; border: 1px solid #ddd; padding: 6px; text-align: right;'>Invoicing terms</td>
			<td width='36%' style='border: 1px solid #ddd; border-bottom: 1px dotted #d5e4f1; border-top: 1px dotted #d5e4f1; padding: 6px;' th:text="${invoice.invoiceTerm.phase}"></td>
		</tr>
		<tr>
			<td width='12%' style='background-color: #edf3f4; color: #336199; border: 1px solid #ddd; padding: 6px; text-align: right;'>Invoice Date</td>
			<td width='36%' style='border: 1px solid #ddd; border-bottom: 1px dotted #d5e4f1; border-top: 1px dotted #d5e4f1; padding: 6px;' th:text="${invoice.date}"></td>
			<td width='4%' style='border-top: 1px solid #fff; border-bottom: 1px solid #fff;'></td>
			<td width='12%' style='background-color: #edf3f4; color: #336199; border: 1px solid #ddd; padding: 6px; text-align: right;'>Due Date</td>
			<td width='36%' style='border: 1px solid #ddd; border-bottom: 1px dotted #d5e4f1; border-top: 1px dotted #d5e4f1; padding: 6px;' th:text="${invoice.dueDate}"></td>
		</tr>
		<!-- <tr>
			<td width='12%' style='background-color: #edf3f4; color: #336199; border: 1px solid #ddd; padding: 6px; text-align: right;'>Total HT/td>
			<td width='36%' style='border: 1px solid #ddd; border-bottom: 1px dotted #d5e4f1; border-top: 1px dotted #d5e4f1; padding: 6px;' th:text="${invoice.amountHt}"></td>
			<td width='4%' style='border-top: 1px solid #fff; border-bottom: 1px solid #fff;'></td>
			<td width='12%' style='background-color: #edf3f4; color: #336199; border: 1px solid #ddd; padding: 6px; text-align: right;'>WHTR</td>
			<td width='36%' style='border: 1px solid #ddd; border-bottom: 1px dotted #d5e4f1; border-top: 1px dotted #d5e4f1; padding: 6px;'th:text="${invoice.whtr} ? 'Yes' : 'No'"></td>
		</tr>
		<tr>
			<td width='12%' style='background-color: #edf3f4; color: #336199; border: 1px solid #ddd; padding: 6px; text-align: right;'>VAT %</td>
			<td width='36%' style='border: 1px solid #ddd; border-bottom: 1px dotted #d5e4f1; border-top: 1px dotted #d5e4f1; padding: 6px;' th:text="${invoice.vat * 100}"></td>
			<td width='4%' style='border-top: 1px solid #fff; border-bottom: 1px solid #fff;'></td>
			<td width='12%' style='background-color: #edf3f4; color: #336199; border: 1px solid #ddd; padding: 6px; text-align: right;'>VAT</td>
			<td width='36%' style='border: 1px solid #ddd; border-bottom: 1px dotted #d5e4f1; border-top: 1px dotted #d5e4f1; padding: 6px;' th:text="${invoice.vatValue}"></td>
		</tr> -->
		<tr>
			<td width='12%' style='background-color: #edf3f4; color: #336199; border: 1px solid #ddd; padding: 6px; text-align: right;'>Total Price HT</td>
			<td width='36%' style='border: 1px solid #ddd; border-bottom: 1px dotted #d5e4f1; border-top: 1px dotted #d5e4f1; padding: 6px;' th:text="${invoice.amountHt2}"></td>
			<td width='4%' style='border-top: 1px solid #fff; border-bottom: 1px solid #fff;'></td>
			<td width='12%' style='background-color: #edf3f4; color: #336199; border: 1px solid #ddd; padding: 6px; text-align: right;'>Total Price TTC</td>
			<td width='36%' style='border: 1px solid #ddd; border-bottom: 1px dotted #d5e4f1; border-top: 1px dotted #d5e4f1; padding: 6px;' th:text="${invoice.amountTtc2}"></td>
		</tr>
	</table>
</body>
</html>